<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384126364480-o0jv1eopo6gu75v576rg7vv8ec5051qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384126364480-o0jv1eopo6gu75v576rg7vv8ec5051qq</string>
	<key>API_KEY</key>
	<string>AIzaSyA8tVKiGnioOrzcShow0wk2W95Bbwry494</string>
	<key>GCM_SENDER_ID</key>
	<string>384126364480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyberacy.stats</string>
	<key>PROJECT_ID</key>
	<string>cyberacy-1e929</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberacy-1e929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384126364480:ios:061b357bd9c10db3aba8a5</string>
	<key>DATABASE_URL</key>
	<string>https://cyberacy-1e929-default-rtdb.firebaseio.com</string>
</dict>
</plist>